<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Test Images </title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="cutout-text" id="cutoutText">Gallery</div>
        <div><a href="/upload_page">UPLOAD</a></div>
        <div class="search=container">
            <input type="text" id="seachBar" placeholder="Search...">
        </div>
    </header>
    <nav class="horizontal-menu">
        <ul id="hashtagMenu">
            <!-- Hastag items will be dynamially added here -->
        </ul>
    </nav>
    <main>
        <div class="image-gallery" id="imageGallery">
            <!-- Image items will be dynamially added here -->
        </div>
    </main>
    <script>
        const image_list = {{ images | tojson | safe }};
    </script>
    <script src="../static/script.js"></script>
   
</body>
</html>